body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f9;
}

header {
    background: #0056b3;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('https://images.unsplash.com/photo-1523240795612-9a054b0db644');
    background-size: cover;
    color: white;
    text-align: center;
    padding-top: 200px;
}

.btn {
    background: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.btn-danger {
    background: red;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.form-container {
    width: 40%;
    margin: 40px auto;
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 10px gray;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

table {
    width: 95%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
}

th {
    background: #007bff;
    color: white;
}

footer {
    text-align: center;
    padding: 10px;
    background: #0056b3;
    color: white;
}
.top-bar {
    width: 95%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#searchInput {
    width: 40%;
    padding: 10px;
    border: 1px solid #ccc;
}
